# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://vtwavmjgiugcngsvkzoy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AE-n0b7ouiS1c0FQwOmjvA_2cXkGODf

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=220736991757-9d2vh7umdlirmpcunik31vpgm41jhlfq.apps.googleusercontent.com
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=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